.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .h1-welcome {
    padding-top: 4em;
    font-size: 2em;
  }
  .btn1,
  .btn2 {
    padding: 0.8em 4em;
    border-radius: 20px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
    border: 2px solid black;
  }
  .btn1:hover,
  .btn2:hover {
    background-color: black;
    color: white;
  }
  .mg {
    margin-top: 50px;
    padding-bottom: 2em;
    font-size: 1.2em;
  }